<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Todo APP</title>
  </head>
  <body>
    <h1>Forgot password</h1>

    <form action="{% url 'accounts:forgot_password' %}" method="POST">
      {% csrf_token %}
      <label for="user">Username</label>
      <input type="text" id="user" name="user" placeholder="Username" />
      <br />
      <button>Send reset link</button>
    </form>

    <span>
      <a href="{% url 'accounts:login' %}">Login</a>
      <a href="{% url 'accounts:signup' %}">Sign up</a>
    </span>

    {% if error %}
    <p class="error">{{ error }} {% endif %}</p>
  </body>
</html>
